<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>

	<div align="right">
		<a th:href="@{/Leaderboard}">Leaderboard</a>
	</div>

	<h1>Welcome to the Gamified Marketing Application Home Page</h1>
		<p th:if="${questionnaire == null}" th:text="${'Nice to see you again ' + session.user.username + '!\n Today there is no product'}"></p>

	<div th:if="${questionnaire != null}">
		<p th:text="${'Nice to see you again ' + session.user.username + '!\n Here there is the product of the day:'}"></p>
		<p th:text = "${'Name: ' + questionnaire.getProduct().getName()}"></p>
		<img width="500px" th:src="*{'data:image/png;base64,'+ questionnaire.getProduct().getPhotoData()}">
		<p th:text="${'\n'}"></p>
		<p th:if = "${session.user.getBlocked()}">You are blocked!</p>
		<p th:if="${not session.user.getBlocked() && alreadySubmitted}"> The questionnaire of the day has been already submitted </p>
		<a th:if="${not session.user.getBlocked() && not alreadySubmitted}" th:href="@{/Questionnaire}">Questionnaire</a>
 	</div>

	<div th:if="${questionnaire != null}">
		<p>Here there are the product's reviews:</p>
		<th:block th:each="r : ${questionnaire.getProduct().getReviews()}">
		<p th:utext="'Review by ' + ${r.getReviewUser().getUsername()} + ':<br/>' + ${r.getText()}"></p>
		</th:block>
	</div>

</body>
</html>