<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Questionnaire</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../css/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>

	<h1>Questionnaire of the day</h1>
	<div>
		<p>Compile the following form:</p>
		<form action="#" th:action="@{/CompileQuestionnaire}" method="POST">
			<fieldset>
					<th:block th:each="q : ${questionnaire.getQuestions()}">
						<p th:text="${q.getQuestion_text()}" />
						<input type="text" th:name="${q.getQuestionId()}" required />
					</th:block>

				<p>
					Age: <input type="number" name="Age" min="16" max="99"/>
				</p>

				<p>
					Sex: <select name="Sex">
						<option></option>
						<option value="M">M</option>
						<option value="F">F</option>
						<option value="N">N</option>
					</select>
				</p>

				<p>
					Expertise level: <select name="Expertise_Level">
						<option></option>
						<option value="LOW">Low</option>
						<option value="MEDIUM">Medium</option>
						<option value="HIGH">High</option>
					</select>
				</p>
				<input type="hidden" name="questionnaireId" th:value="${questionnaire.getQuestionnaire_id()}">
				<input type="submit" name="Next">
			</fieldset>
		</form>
	</div>

</body>
</html>